$color-white: #fff;
$color-silver: #ccc;
$color-black: #000;
$color-dove-gray: #707070;
$color-medium-carmine: #ad3b3b;
$color-boston-blue: #3a87ad;

$appointment-status-well-background-color: $color-silver;
$read-only-background: $color-white;
