<tr class="t-schedule <%= 'danger' if location.schedule.unavailable? %>">
  <td class="t-location">
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= location.name %>
  </td>
  <td>
    <%= realtime_availability_button(location) %>
  </td>
</tr>
