<span class="sr-only">Mondays, Tuesdays AM, Wednesdays, Thursday AM, Fridays</span>
<div class="schedule-summary" aria-hidden="true">
  <div class="schedule-summary__day">
    <div class="schedule-summary__period schedule-summary__period--on" title="Open Monday AM"></div>
    <div class="schedule-summary__period schedule-summary__period--on" title="Open Monday PM"></div>
  </div>
  <div class="schedule-summary__day">
    <div class="schedule-summary__period schedule-summary__period--on" title="Open Tuesday AM"></div>
    <div class="schedule-summary__period" title="Closed Tuesday PM"></div>
  </div>
  <div class="schedule-summary__day">
    <div class="schedule-summary__period schedule-summary__period--on" title="Open Wednesday AM"></div>
    <div class="schedule-summary__period schedule-summary__period--on" title="Open Wednesday PM"></div>
  </div>
  <div class="schedule-summary__day">
    <div class="schedule-summary__period schedule-summary__period--on" title="Open Thursday AM"></div>
    <div class="schedule-summary__period" title="Closed Thursday PM"></div>
  </div>
  <div class="schedule-summary__day">
    <div class="schedule-summary__period schedule-summary__period--on" title="Open Friday AM"></div>
    <div class="schedule-summary__period schedule-summary__period--on" title="Open Friday PM"></div>
  </div>
</div>
