<% content_for(:page_title, t('service.title', page_title: 'Schedules')) %>
<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Planner</a></li>
    <li class="active">Schedules</li>
  </ol>

  <h1>Schedules</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <%= paginate @locations %>

    <table class="centered-table table table-bordered table-striped">
      <colgroup>
        <col width="65%" />
        <col width="20%" />
        <col width="15%" />
      </colgroup>
      <thead>
        <tr class="table-header">
          <th>Location</th>
          <th>Schedule</th>
          <th><span class="sr-only">Actions</span></th>
        </tr>
      </thead>
      <tbody>
        <% @locations.each do |location| %>
          <%= render 'location', location: location %>
        <% end %>
      </tbody>
    </table>

    <%= paginate @locations %>
  </div>
</div>
