<% content_for(:page_title, t('service.title', page_title: 'Choose a booking location')) %>
<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Planner</a></li>
    <li class="active">Choose a booking location</li>
  </ol>

  <h1>Choose a booking location</h1>
</div>

<div class="lead notice t-booking-location-banner">
  <p>
    Please select a booking location from the navigation menu above.
  </p>
</div>
