<h4>Pension Wise Third Party Consent Form</h4>

<p>
A third party has asked to book a Pension Wise appointment to discuss your
pension payment options. This form must be completed to ensure that your
personal data is not discussed or disclosed to anyone without your knowledge.
This does not apply to circumstances where we are under a legal obligation to
disclose your information, e.g. for safeguarding.
</p>

<p>
Pension Wise is a free and impartial government service which helps you
understand your defined contribution pension options. Pension Wise appointments
are delivered by the Money and Pensions Service, Citizens Advice England and
Wales and Citizens Advice Scotland.
</p>

<p>
During a Pension Wise guidance appointment, questions will be asked about your
personal and family affairs, financial arrangements and plans and general state
of health to inform the options we run through.
</p>

<p>
Your personal data will be securely stored by Pension Wise and our delivery
partners to monitor quality of service and respond to queries and complaints.
The call will be recorded and stored securely for a period of 6 years.
</p>

<p>
  <strong>Before we can deliver an appointment to discuss your pension options, we need your authority</strong>
</p>

<h4>Your details</h4>

<p>
I give my consent for: _______________________________________ to receive a
Pension Wise appointment on my behalf. I understand I can withdraw my
consent before the appointment by contacting Pension Wise.
</p>

<table>
  <tr>
    <td>Print name:</td>
  </tr>
  <tr>
    <td>Your signature:</td>
  </tr>
  <tr>
    <td>Date:</td>
  </tr>
  <tr>
    <td>Third party's name:</td>
  </tr>
  <tr>
    <td>Relationship to third party:</td>
  </tr>
  <tr>
    <td>Booking reference: <%= @appointment.reference %></td>
  </tr>
</table>

<p>
By signing this form, you are giving us consent to collect, store, and use your
personal data for the purposes outlined in our privacy policy
moneyhelper.org.uk/privacy. Your personal information will be processed in
accordance with the Data Protection Act 2018.
</p>

<p>
Please bring the completed form to your face-to-face appointment. You can also
return it to Money and Pensions Service, Pension Wise (MoneyHelper), Borough
Hall, 138 Cauldwell Street, Bedford, MK42 9AP or email a scanned copy to
contact.pensionwise@moneyhelper.org.uk.
</p>

<p>
Please note that the appointment will not be able to go ahead unless the
guidance specialist delivering your appointment has seen this signed document.
</p>
