<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Planner</a></li>
    <li class="active">Appointments</li>
  </ol>

  <h1>Incorrect permissions</h1>
</div>

<p><%= message %></p>
<p>Please contact your Delivery Manager or MaPS if you think you should be able to do what you tried to do.</p>
<p>If you think something is wrong, try signing out and then back in.</p>
