alertify.alert(
  '<strong class="text-danger">You cannot create a slot here</strong>',
  '<p class="t-alertify"><%= raw @bookable_slot.errors.full_messages.map(&:upcase_first).join("<br>") %></p>'
);
