<p class="lead"><a href="<%= url_for(administrators_guiders_path) %>">
  <span class="glyphicon glyphicon-chevron-left"></span> Cancel, back to guiders
</a></p>

<h2>Remove guiders from booking system</h2>
<p class="lead">Select a guider to transfer any outstanding appointments to.</p>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h4>Guiders affected by this change:</h4>
  </div>
  <div class="panel-body">
    The guiders affected will be: <strong>Ben Barnett, Ben Lovell, Matt Lucht, Peter Guntrip </strong>and<strong> Lucinda Craig.</strong>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <label for="guider">Guider to receive appointments</label>
        <p class="help-block">Select a guider to transfer any outstanding appointments to.</p>
        <select name="guider" class="form-control">
          <% 45.times do %>
          <option><%= ['Harry', 'Mary', 'Ben', 'Jo', 'Quentin', 'Jacqui', 'Matt', 'Lucinda'].sample %>
          <%= ['Wilson', 'Beith', 'Barnett', 'Lovell', 'Lucht', 'Guntrip', 'Singh', 'Craig'].sample %></option>
          <% end %>
        </select>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <a class="btn btn-danger btn-large" href="<%= url_for(administrators_guiders_path) %>">Remove guiders from system</a>
  </div>
</div>


<style>
  .js-remove {
    color: #c00 !important;
  }
</style>


<% content_for :body_end do %>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <script>
  $('#daterange').daterangepicker();
  </script>
<% end %>
