$calendar-loading-view-background: transparentize($color-white, .2);
$calendar-appointment-cancelled-background: lighten($color-medium-carmine, 20%);
$calendar-bookable-slot-background: darken($color-green, 60%);
$calendar-filter-box-shadow: transparentize($color-black, .825);
$calendar-filter-arrow-border: transparentize($color-black, .8);

$guider-row-height: 110px;

th {
  border-width: 0;
  overflow: hidden;
}

.fc {
  a,
  a:visited {
    color: $color-white;
  }

  min-height: 400px;
}

.fc-slats table {
  font-size: 12px;
}

.fc-bgevent {
  background: $calendar-bookable-slot-background;
}

.fc-event {
  @include striped($color-boston-blue);
  margin: 2px;
}

.fc-event--cancelled {
  @include striped($calendar-appointment-cancelled-background);
  border-color: $calendar-appointment-cancelled-background;

  &:hover td {
    @include striped($calendar-appointment-cancelled-background);
  }
}

.calendar-loading {
  align-items: center;
  background: $calendar-loading-view-background;
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.fc-button-group--jump-to-date {
  position: relative;
}

.jump-to-date {
  border: 0;
  width: 0;
  height: 0;
  position: absolute;
  right: 50%;
  top: 50%;
  background: transparent;
}

.fc-resource-cell {
  height: $guider-row-height;
  position: relative;
  white-space: nowrap;

  div {
    bottom: 0;
    box-sizing: border-box;
    font-size: .9em;
    left: 50%;
    line-height: 1em;
    margin-left: -.5em;
    padding-left: 5px;
    position: absolute;
    text-align: left;
    transform: rotate(-90deg);
    transform-origin: .5em .5em;
    width: $guider-row-height;
  }
}

.realtime-calendar--fullscreen {
  margin-top: 10px;
}

.container--fullscreen {
  width: 100%;
}

.resource-link {
  cursor: pointer;
}

.resource-calendar-filter {
  background: $color-white;
  border-radius: 4px;
  border: 1px solid $color-silver;
  box-shadow: 0 6px 12px $calendar-filter-box-shadow;
  margin-bottom: 10px;
  padding: 1em;
  position: absolute;
  z-index: 100;
  width: 600px;

  &::before,
  &::after {
    border-bottom-color: $calendar-filter-arrow-border;
    content: "";
    display: inline-block;
    position: absolute;
  }

  &::before {
    left: 160px;
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid $color-silver;
  }

  &::after {
    left: 161px;
    top: -6px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $color-white;
    border-left: 6px solid transparent;
  }
}

// scss-lint:disable ImportantRule
.select2-container,
.select2-search__field {
  width: 100% !important;
}
// scss-lint:enable ImportantRule
