$calendar-loading-view-background: transparentize($color-white, .2);
$calendar-appointment-cancelled-background: lighten($color-medium-carmine, 20%);

.fc {
  a,
  a:visited {
    color: $color-white;
  }

  min-height: 400px;
}

.fc-slats table {
  font-size: 12px;
}

.fc-event {
  @include striped($color-boston-blue);
}

.fc-event--cancelled {
  @include striped($calendar-appointment-cancelled-background);
  border-color: $calendar-appointment-cancelled-background;

  &:hover td {
    @include striped($calendar-appointment-cancelled-background);
  }
}

.calendar-loading {
  align-items: center;
  background: $calendar-loading-view-background;
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}
