<%= h2 do %>
  How to prepare for your appointment
<% end %>

<%= p do %>
  You’ll usually benefit more from a Pension Wise appointment if you:
<% end %>

<ol>
  <li>Ask each pension provider:
    <ul>
      <li>how much your pension is currently worth</li>
      <li>if your pension has any special features, like a guaranteed pot value or annuity rate.</li>
    </ul>
  </li>
  <li>Check your State Pension forecast:
    <ul>
      <li>online at <a href="https://www.gov.uk/">GOV.UK</a></li>
      <li>by calling 0800 731 0175 between 8am and 6pm, Monday to Friday.</li>
    </ul>
  </li>
  <li>Have details of your other finances, like:
    <ul>
      <li>savings and investments</li>
      <li>debts and repayments.</li>
    </ul>
  </li>
  <li>Think about your plan for retirement, such as:
    <ul>
      <li>when you’d like to stop working</li>
      <li>what type of pension income you’d like.</li>
    </ul>
  </li>
</ol>

<%= p do %>
  For more information, see <a href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/pension-wise/preparing-for-your-appointment">How to prepare for your Pension Wise appointment</a>.
<% end %>
