<% content_for(:head) do %>
  <%= stylesheet_link_tag "fullcalendar/dist/fullcalendar" %>
  <%= stylesheet_link_tag "fullcalendar-scheduler/dist/scheduler" %>

  <script>
  var guiders = <%= guiders_hash %>
  </script>
<% end %>


<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Appointment planner</a></li>
    <li class="active">Appointments</li>
  </ol>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="calendar" class="scheduler" data-name="Telephone"></div>
  </div>
</div>
