<li class="activity-feed__item t-activity" id="activity-<%= activation_activity.id %>">
  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
  <b><%= activation_activity.owner_name %></b> made the booking request <%= activation_activity.message %>
  <span class="activity-feed__date"><%= timestamp(activation_activity.created_at) %></span>
</li>
