<li class="activity-feed__item t-activity" id="activity-<%= bsl_customer_exit_poll_activity.id %>">
  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
  <strong>The system</strong> sent a BSL appointment exit poll email
  <span class="activity-feed__date"><%= timestamp(bsl_customer_exit_poll_activity.created_at) %></span>
</li>
