<li class="activity-feed__item t-activity" id="activity-<%= fulfilment_activity.id %>">
  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
  <b><%= fulfilment_activity.owner_name %></b> booked the appointment
  <span class="activity-feed__date"><%= timestamp(fulfilment_activity.created_at) %></span>
</li>
