<li class="activity-feed__item t-activity" id="activity-<%= printed_third_party_consent_form_activity.id %>">
  <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
  <b>The system</b> requested a printed third party consent form letter
  <span class="activity-feed__date"><%= timestamp(printed_third_party_consent_form_activity.created_at) %></span>
</li>
