<li class="activity-feed__item t-activity" id="activity-<%= printed_confirmation_activity.id %>">
  <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
  <b>The system</b> requested a printed confirmation letter
  <span class="activity-feed__date"><%= timestamp(printed_confirmation_activity.created_at) %></span>
</li>
