<li class="activity-feed__item t-activity" id="activity-<%= reassignment_activity.id %>">
  <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
  <b>Booking location reassignment: </b>
  <em>the booking was reassigned.</em>
  <span class="activity-feed__date"><%= timestamp(reassignment_activity.created_at) %></span>
</li>
