<li class="activity-feed__item t-activity" id="activity-<%= reminder_activity.id %>">
  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
  <strong>The system</strong> sent an appointment reminder email to the customer
  <span class="activity-feed__date"><%= timestamp(reminder_activity.created_at) %></span>
</li>
