<li class="activity-feed__item t-activity" id="activity-<%= video_appointment_url_activity.id %>">
  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
  <strong>The system</strong> sent the video appointment URL notification to the customer
  <span class="activity-feed__date"><%= timestamp(video_appointment_url_activity.created_at) %></span>
</li>
