<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pension Wise appointment request</title>
    <style type="text/css">
        /* Based on The MailChimp Reset INLINE: Yes. */
        /* Client-specific Styles */
        #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
        body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
        /* Prevent Webkit and Windows Mobile platforms from changing default font sizes.*/
        .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
        /* Forces Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
        /* End reset */

        .outer-container {
            width: 100%;
        }

        td {
            padding:0 0 0 15px;
        }

        .inner-container tr td{
            padding:0;
        }

        .email-content {
            max-width: 580px;
        }

        table.separator {
            width: 100%;
            height: 1px;
            line-height:1px;
            font-size:1px;
        }

        table.separator td {
            background:none;
            border-top:solid 1px #bfc1c3;
            border-width:1px 0 0 0;
            height:1px;
            line-height:1px;
            font-size:1px;
            width:100%;
        }

        h1, h2, h3, h4, h5, h6, p {
          color: #0F19A0;
          font-family: Calibri, Arial, sans-serif;
          margin: 15px 0;
        }

        ul, ol  {
            color: #0B0C0C;
            font-family: Calibri, Arial, sans-serif;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        li {
          color: #000B3B;
          font-family: Calibri, Arial, sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: 700;
        }

        p, ul, ol, h3, h4, h5, h6 {
            font-size: 16px;
            line-height: 1.315789474;
        }

        h1 {
            font-size: 20px;
            line-height: 1.111111111;
            padding: 15px 0;
        }

        .emphasize {
            font-size: 24px;
        }

        hr {
            border:none;
        }

        /* Some sensible defaults for images
        Bring inline: Yes. */
        img {outline:none; text-decoration:none; display:block; -ms-interpolation-mode: bicubic;}
        a img {border:none;}
        .image_fix {display:block;}

        /* Yahoo paragraph fix
        Bring inline: Yes. */
        p {margin: 15px 0;}

        /* Hotmail govuk-email-header color reset
        Bring inline: Yes. */
        h1, h2, h3, h4, h5, h6 {color: #0B0C0C !important;}

        h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .actions li a {color: #005EA5 !important;}

        h1 a:hover, h2 a:hover,  h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .actions li a:hover {
            color: #2E8ACA !important; /* Preferably not the same color as the normal govuk-email-header link color.  There is limited support for psuedo classes in email clients, this was added just for good measure. */
        }

        h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active, .actions li a:active {
            color: #2E8ACA !important; /* Preferably not the same color as the normal govuk-email-header link color.  There is limited support for psuedo classes in email clients, this was added just for good measure. */
        }

        h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited, .actions li a:visited {
            color: #005EA5 !important; /* Preferably not the same color as the normal govuk-email-header link color. There is limited support for psuedo classes in email clients, this was added just for good measure. */
        }

        /* Outlook 07, 10 Padding issue fix
        Bring inline: No.*/
        table td {border-collapse: collapse;}

        /* Remove spacing around Outlook 07, 10 tables
        Bring inline: Yes */
        table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }

        /* Styling your links has become much simpler with the new Yahoo.  In fact, it falls in line with the main credo of styling in email and make sure to bring your styles inline.  Your link colors will be uniform across clients when brought inline.
        Bring inline: Yes. */
        a {color: #C82A87;}


        /***************************************************
        ****************************************************
        MOBILE TARGETING
        ****************************************************
        ***************************************************/
        @media only screen and (max-device-width: 480px) {
            /* Part one of controlling phone number linking for mobile. */
            a[href^="tel"], a[href^="sms"] {
                text-decoration: none;
                color: blue; /* or whatever your want */
                pointer-events: none;
                cursor: default;
            }

            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                text-decoration: default;
                color: orange !important;
                pointer-events: auto;
                cursor: default;
            }

        }

        /* More Specific Targeting */

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            /* You guessed it, ipad (tablets, smaller screens, etc) */
            /* repeating for the ipad */
            a[href^="tel"], a[href^="sms"] {
                text-decoration: none;
                color: blue; /* or whatever your want */
                pointer-events: none;
                cursor: default;
            }

            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                text-decoration: default;
                color: orange !important;
                pointer-events: auto;
                cursor: default;
            }
        }

    </style>
</head>
<body style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0;padding: 0;width: 100% !important;">

<table class="outer-container" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;">
    <tr>
        <td style="padding: 0 0 0 15px;border-collapse: collapse;">
            <table class="inner-container" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt; width: 100%">
                <tr>
                    <td style="padding: 0;border-collapse: collapse; width: 50%;">
                      <img src="https://tap.pensionwise.gov.uk/pw.jpg" alt="Pension Wise" style="outline: none;text-decoration: none;display: block;-ms-interpolation-mode: bicubic;">
                    </td>
                    <td style="padding: 0;border-collapse: collapse; width: 50%;">
                      <img src="https://tap.pensionwise.gov.uk/hmg.gif" alt="HM Government" style="outline: none;text-decoration: none;display: block;-ms-interpolation-mode: bicubic;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table class="email-content" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;max-width: 580px;">
    <tr>
        <td style="padding: 0 0 0 15px;border-collapse: collapse;">
          <%= yield %>
        </td>
    </tr>
</table>

<table class="outer-container" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;">
    <tr>
        <td style="padding: 0 0 0 15px;border-collapse: collapse; width: 100%;">
            <table class="inner-container" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt; width: 100%;">
                <tr>
                  <td style="width: 50%">&nbsp;</td>
                  <td style="padding: 0;border-collapse: collapse; width: 50%;">
                      <img src="https://tap.pensionwise.gov.uk/mh.jpg" alt="MoneyHelper" style="outline: none;text-decoration: none;display: block;-ms-interpolation-mode: bicubic;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>
